.header-container .header-image-container {
  position: relative;
}
.header-container .header-image-container img {
  width: 100%;
  height: 200px;
}
.header-container .header-image-container .header-name {
  color: white;
  position: absolute;
  top: 50px;
  left: 40%;
}
